<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
   aria-labelledby="offcanvasWithBackdropLabel">
   <div class="offcanvas-header">
      <img ngSrc="/images/ford.png" width="153.6" height="57.84">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
   </div>
   <div class="offcanvas-body">
      <nav class="sidebar__nav">
         <a routerLink="/home" routerLinkActive="activeLink">Home</a>
         <a routerLink="/dashboard" routerLinkActive="activeLink">Dashboard</a>
      </nav>
   </div>
</div>