@if (user(); as currentUser) {
<div class="btn-group dropdown">
   <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <img class="dropdown__profile-img" [ngSrc]="currentUser.user_img_src || '/images/profile-default.png'" width="45"
         height="45" alt="Imagem do Usuário" priority>
   </button>
   <ul class="dropdown-menu">
      <div class="dropdown__user-type">
         <span class="d-block">{{currentUser.first_name}}</span>
         <small class="d-block">{{currentUser.role === 'admin' ? 'Administrador' : 'Usuário'}}</small>
      </div>
      <li>
         <hr class="dropdown-divider">
      </li>
      @if (currentUser.role === 'admin') {
      <li class="dropdown-item">
         <button 
            (click)="showForm()"
            type="button"
            class="dropdown__button">
            <span>Novo Usuário</span>
            <i class="bi bi-person-add"></i>
         </button>
      </li>
      <li class="dropdown-item">
         <button
            (click)="showUserList()"
            type="button" 
            class="dropdown__button">
            <span>Lista de Usuário</span>
            <i class="bi bi-people"></i>
         </button>
      </li>
      }
      <li class="dropdown-item">
         <button class="dropdown__button" (click)="logout()">
            <span>Sair</span>
            <i class="bi bi-box-arrow-right"></i>
         </button>
      </li>
   </ul>
</div>
} @else {
<div class="btn-group dropdown">
   <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <img class="dropdown__profile-img" ngSrc="/images/profile-default.png" width="45" height="45"
         alt="Imagem do Usuário">
   </button>
   <ul class="dropdown-menu">
      <div class="dropdown__user-type">
         <span class="d-block">User</span>
         <small class="d-block">Nome do Usuário</small>
      </div>
      <li>
         <hr class="dropdown-divider">
      </li>
      <li class="dropdown-item">
         @if (isAdmin) {
         <button type="button" class="dropdown__button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <span>Novo Usuário</span>
            <i class="bi bi-person-add"></i>
         </button>
         }
      </li>
      <li class="dropdown-item">
         <button class="dropdown__button" (click)="logout()">
            <span>Sair</span>
            <i class="bi bi-box-arrow-right"></i>
         </button>
      </li>
   </ul>
</div>
}